<p id="notice"><%= notice %></p>

<p>
  <strong>Joined:</strong>
  <%= @beerclubs.find_by(id:@membership.beer_club_id).name%>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
